<% layout('layouts/boilerplate') %>
    <h1>All Campgrounds</h1>
    <a href="/campgrounds/new"><button>Create New Campground</button></a>
    <ul>
      <% for (let campground of campgrounds) { %>
      <li>
        <%= campground.title %> -
        <a href="/campgrounds/<%= campground.id %>">See this campground</a>
      </li>
      <% } %>
    </ul>
